<template name="AppliedScience">
	{{#if currentUser}}
		{{> header}}
	{{/if}}
	<div class="container-fluid">
		<div class="hero">
			<div class="row">
				<div class="col-sm-12 logo course">
					<img src="Appliedscience.jpg" class="img-responsive">
					<h1 class="logo">School Of Applied Science</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="course">
						<li>Nursing</li>
						<li>Physician Assistantship</li>
						<li>Pharmacy</li>
						<li>Architecture</li>
						<li>Civil Engineering</li>				
					</div>
				</div>
			</div>
		</div>
	</div>
</template>