<template name="appliedscience">

  {{#ionBody}}

      {{#ionSideMenuContainer}}

        {{#ionSideMenus}}

          {{#ionSideMenu}}
            <div class="side">
              <li class="borderbottom">
                <span class="col col-100">
                  SLIDES
                  <i class="icon ion-grid icon-right"></i>
                </span>
              </li>
              <div class="slides">
                  <a href="/architecturefiles"><li class="col col-80">
                    <span>#</span> Architecture
                  </li></a>
                  <a href="/civilfiles"><li class="col col-80">
                    <span>#</span> Civil Engineering
                  </li></a>
                  <a href="/nursingfiles"><li class="col col-80">
                    <span>#</span> Nursing
                  </li></a>
                  <a href="/pharmacyfiles"><li class="col col-80">
                    <span>#</span> Pharmacy
                  </li></a>
                  <a href="/physicianfiles"><li class="col col-80">
                    <span>#</span> Physician Assistantship
                  </li></a>
              </div>
              <a href="/sciencebuzz" class="bordertop"><li>
                <span class="col col-100">
                  <i class="icon ion-android-calendar icon-left"></i>
                  BUZZ        
                </span>
              </li></a>
              <a href="/sciencemarket" class="bordertop borderbottom"><li>
                <span class="col col-100 ">
                  <i class="icon ion-bag icon-left"></i>
                  MART
                </span>
              </li></a>
            </div>
          {{/ionSideMenu}}

          {{#ionSideMenu side="right"}}
              <div class="side">

          </div>
          {{/ionSideMenu}}

        {{/ionSideMenus}}

        {{#ionSideMenuContent}}
          {{> ionNavBar class="bar-positive"}}
          
          {{#ionNavView}}
            {{> yield}}
          {{/ionNavView}}

        {{/ionSideMenuContent}}

      {{/ionSideMenuContainer}}

    {{/ionBody}}
  </template>
