<template name="arts&socialscience">

  {{#ionBody}}

      {{#ionSideMenuContainer}}

        {{#ionSideMenus}}

          {{#ionSideMenu}}
            <div class="side">
              <li class="borderbottom">
                <span class="col col-100">
                  SLIDES
                  <i class="icon ion-grid icon-right"></i>
                </span>
              </li>
              <div class="slides">
                  <a href="/communicationfiles"><li class="col col-80">
                    <span>#</span> Communication Studies 
                  </li></a>
                  <a href="/economicsfiles"><li class="col col-80">
                    <span>#</span> Economics
                  </li></a>
                  <a href="/englishfiles"><li class="col col-80">
                    <span>#</span> English
                  </li></a>
                  <a href="/frenchfiles"><li class="col col-80">
                    <span>#</span> French
                  </li></a>
                  <a href="/environmmentfiles"><li class="col col-80">
                    <span>#</span> Environmental & Dev't Studies 
                  </li></a>
              </div>
              <a href="/artsbuzz" class="bordertop"><li>
                <span class="col col-100">
                  <i class="icon ion-android-calendar icon-left"></i>
                  BUZZ        
                </span>
              </li></a>
              <a href="/artsmarket" class="bordertop borderbottom"><li>
                <span class="col col-100 ">
                  <i class="icon ion-bag icon-left"></i>
                  MART
                </span>
              </li></a>
            </div>
          {{/ionSideMenu}}

          {{#ionSideMenu side="right"}}
              <div class="side">

          </div>
          {{/ionSideMenu}}

        {{/ionSideMenus}}

        {{#ionSideMenuContent}}
          {{> ionNavBar class="bar-positive"}}
          
          {{#ionNavView}}
            {{> yield}}
          {{/ionNavView}}

        {{/ionSideMenuContent}}

      {{/ionSideMenuContainer}}

    {{/ionBody}}
  </template>
