<template name="marketupdate">
 {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="{{path}}"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Martupdate</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      <div>

        <form class="item">

          <input type="file" class="file marketfile" name="body">
          <label class="item item-input item-stacked-label">
            <span class="input-label">body</span>
            <input type="text" name="post" placeholder="event body">
          </label>
          <button type="submit" class="button button-block button-positive">
            submit
          </button>

        </form>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
