<template name="Theology&Missions">
	{{#if currentUser}}
		{{> header}}
	{{/if}}
	<div class="container-fluid">
		<div class="hero">
			<div class="row">
				<div class="col-sm-12 logo course fit">
					<img src="theology.jpg" class="img-responsive">
					<h1 class="logo">School Theology & Missions</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="course">
						<ul>
							<li>Biblical & Historical Studies</li>
							<li>Christian Education</li>
							<li>Church Administration</li>
							<li>Family Counseling & Theology</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>