<template name="buzz">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
       {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Buzz</h1>
    <a class="button button-clear button-positive" href="/buzzupdate"><h5>New</h5></a>
  {{/contentFor}}
  
  {{#ionView}}
    {{#ionContent}}
      <div class="background">
        <div class="row">
          <div class="col col-100">
            {{#each card}}
                <div class="list card">
                    <div class="item item-body">
                      {{#with image}}
                        <img class="full-image" src="{{this.url}}">
                      {{/with}}
                    <p>
                      {{info}}
                    </p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="going icon ion-thumbsup"></i>
                      going
                    </a>
                    <a class="tab-item" href="#">
                      <i class="icon ion-chatbox"></i>
                      {{votes}} going
                    </a>
                    <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      Share
                    </a>
                    </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>

    {{/ionContent}}
  {{/ionView}}
</template>
