<template name="Arts&SocialSciences">
	{{#if currentUser}}
		{{> header}}
	{{/if}}
	<div class="container-fluid">
		<div class="hero">
			<div class="row">
				<div class="col-sm-12 logo course">
					<img src="Arts.jpg" class="img-responsive">
					<h1 class="logo">Faculty of Arts and Social Science</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="course">
						<li>English</li>
						<li>French</li>
						<li>Economics</li>
						<li>Environmental & Dev't Studies</li>
						<li>Communication Studies</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>